.side-menu li a{
    text-decoration: none;
}
.sidebar a span{
    text-decoration: none;
}
#sidebar {
    width: 250px;
    transition: width 0.3s;
}

#sidebar.collapsed {
    width: 60px;
}

.bx-menu {
    cursor: pointer;
}
.bx{
    text-decoration: nones;
}