table tbody tr td button{
    margin: 2px;

}
#manage{
    background-color:transparent;
    width: 500px;
    height:500px;
    text-align: center;
    align-items: center;
    margin-left: 300px;

}